<p id="notice"><%= notice %></p>

<h1><%= @student.name %>'sMarks</h1>

<table>
  <thead>
    <tr>
      <th>Mark</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marks.each do |mark| %>
      <tr>
        <td><%= mark.mark %></td>
        <td><%= mark.subject.name %></td>

        <td><%= link_to 'Edit', edit_student_mark_path(@student,mark) %></td>
        <td><%= link_to 'Destroy', [@student,mark], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Students', students_path %> |
<%= link_to 'New Mark', new_student_mark_path %>
