<%= stylesheet_link_tag '_form', media: 'all', 'data-turbolinks-track': 'reload'  %>

<%= form_with(model: [@group, @lecture]) do |form| %>
  <% if @lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
        <% @lecture.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="editDiv">
    <%= form.label :lecture_time %>
    <%= form.select :lecture_time_id , @lectures_time.map{|time| [time.formatted_time, time.id]}%>

    <%= form.label :lecturer %>
    <%= form.select :lecturer_id , @lecturers.map{|lecturer| [lecturer.name, lecturer.id]}%>

    <%= form.label :subject %>
    <%= form.select :subject_id , @subjects.map{|subject| [subject.name, subject.id]}%>

    <%= form.label :weekday %>
    <%= form.select :weekday , Lecture::WEEKDAY%>

    <%= form.label :corpus %>
    <%= form.text_field :corpus%>

    <%= form.label :auditorium %>
    <%= form.text_field :auditorium%>

    <%= form.submit %>
  </div>
<% end %>
