<%= form_with(model: [@group, @lecture]) do |form| %>
  <%= render 'shared/errors', resource: @lecture %>

  <div class="field">
    <%= form.label :lecture_time %>
    <%= form.select :lecture_time_id , @lectures_time.map{|time| [time.formatted_time, time.id]}%>
  </div>

  <div class="field">
    <%= form.label :lecturer %>
    <%= form.select :lecturer_id , @lecturers.map{|lecturer| [lecturer.name, lecturer.id]}%>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.select :subject_id , @subject.map{|subject| [subject.name, subject.id]}%>
  </div>

  <div class="field">
    <%= form.label :weekday %>
    <%= form.select :weekday , Lecture::WEEKDAY%>
  </div>

  <div class="field">
    <%= form.label :corpus %>
    <%= form.text_field :corpus%>
  </div>

  <div class="field">
    <%= form.label :auditorium %>
    <%= form.text_field :auditorium%>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
