<p id="notice"><%= notice %></p>

<p>
  <strong>Группа:</strong>
  <%= @lecture.group_id %>
</p>
<p>
  <strong>Время:</strong>
<%= @lecture.lecture_time&.formatted_time %>
</p>
<p>
  <strong>День недели:</strong>
<%= @lecture.weekday %>
</p>
<p>
  <strong>Предмет:</strong>
<%= @lecture.subject&.name %>
</p>
<p>
  <strong>Преподаватель:</strong>
<%= @lecture.lecturer&.name %>
</p>
<p>
  <strong>Корпус:</strong>
<%= @lecture.corpus %>
</p>
<p>
  <strong>Аудитория:</strong>
<%= @lecture.auditorium %>
</p>

<%= link_to 'Edit', edit_group_lecture_path %> |
<%= link_to 'Back', group_lectures_path %>
