<%= form_with(model: lecture_time) do |form| %>
  <% if lecture_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture_time.errors.count, "error") %> prohibited this lecture_time from being saved:</h2>

      <ul>
        <% lecture_time.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :beginning %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
