<%= stylesheet_link_tag '_form', media: 'all', 'data-turbolinks-track': 'reload'  %>

<%= form_for @student do |form| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(student.errors.count, "error") %> prohibited this Student from being saved:</h3>
      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="editDiv">
    <%= form.label :group_id %>
    <%= form.text_field :group_id %>

    <%= form.label :name %>
    <%= form.text_field :name %>

  <% unless @subjects.nil? %>
      <p>
    <%= form.fields_for :marks do |f| %>
        <%= f.label :mark %>
        <%= f.select :mark, (1..5).to_a %>
        <%= f.label :subject %>
        <%= f.select :subject_id, @subjects.map{|subject| [subject.name, subject.id]} %>
        <%= f.label :lecturer %>
        <%= f.select :lecturer_id, @lecturers.map{|lecturer| [lecturer.name, lecturer.id]} %>
        <%= f.label :Destroy %>
        <%= f.check_box :_destroy %>
          </p>

      <% end %>
        <%= link_to_add_fields "Add mark", form, :marks%>
        </div>
  <% else %>
    <p>There is no subjects</p>
  <% end %>
    <%= form.submit %>
  </p>
<% end %>


<script>

$('form').on('click','.add_fields', function (e){
    var regexp, time
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    $(this).before($(this).data('fields').replace(regexp, time));
    return e.preventDefault();
})
</script>