<%= form_for @student do |form| %>
  <%= render 'shared/errors', resource: @student %>

  <div class="field">
  <%= form.label :group_id %>
  <%= form.text_field :group_id %>
</div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <% unless @subject.nil? %>
    <%= form.fields_for :marks do |f| %>
      <div>
        <%= f.label :mark %>
        <%= f.select :mark, (1..5).to_a %>
        <%= f.label :subject %>
        <%= f.select :subject_id, @subjects.map{|subject| [subject.name, subject.id]} %>
        <%= f.label :lecturer %>
        <%= f.select :lecturer_id, @lecturers.map{|lecturer| [lecturer.name, lecturer.id]} %>
        <%= f.label :Destroy %>
        <%= f.check_box :_destroy %>
      </div>
    <% end %>

    <%= link_to_add_fields "Add mark", form, :marks %>
  <% else %>
    <p>There is no subjects</p>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<script>

$('form').on('click','.add_fields', function (e){
    var regexp, time
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    $(this).before($(this).data('fields').replace(regexp, time));
    return e.preventDefault();
})
</script>
