<%= form_for @student do |form| %>
  <%= render 'shared/errors', resource: @student %>
  <% if current_user.is_admin? %>
    <div class="field">
      <%= form.label :group_id %>
      <%= form.text_field :group_id %>
    </div>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  <% else %>
    <div class="container rounded-4 my-3 px-4 py-4" style="height: 180px; background: rgba(255, 255, 255, 0.48);">
      <div class="container d-flex">
        <%= image_tag "person.png", class: "rounded-circle ", style: "width: 100px; height: 100px;" %>
        <div class="container d-flex flex-column">
          <p class="mb-auto" style="font-size: 22px;"><%= @student.name %></p>
          <p class="mb-auto" style="font-size: 16px;">Группа: <%= @student.group&.specialization_code %></p>
          <p class="mb-auto" style="font-size: 16px;">Кафедра: <%= @student.department&.name %></p>
          <% if current_user.is_admin? %>
            <p>Токен: <%= @student.invitation_token&.token %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%= select_tag :subject_id, options_from_collection_for_select(Subject.all, :id, :name, params[:subject_id]), prompt: "new" %>
  <div class="actions">
    <%= form.submit %>
  </div>
  <% unless @subject.nil? %>
    <div class="container d-flex flex-wrap">
      <span class="col-12" id="mark-fields">
        <%= link_to_add_fields "Добавить оценки", form, :marks %>
      </span>
      <%= form.fields_for :marks do |f| %>
        <div class="item card col-3 bg-light mb-3 rounded" data-subject-id="<%= f.object.subject_id %>">
          <div class="card-body">
            <div class="mb-3">
              <%= f.label :mark, class: 'form-label' %>
              <%= f.select :mark, (1..5).to_a, {}, class: 'form-select' %>
            </div>

            <div class="mb-3">
              <%= f.label :subject, class: 'form-label' %>
              <%= f.select :subject_id, @subjects.map { |subject| [subject.name, subject.id] }, {}, class: 'form-select' %>
            </div>

            <div class="mb-3">
              <%= f.label :lecturer, class: 'form-label' %>
              <%= f.select :lecturer_id, @lecturers.map { |lecturer| [lecturer.name, lecturer.id] }, {}, class: 'form-select' %>
            </div>

            <div class="form-check mb-3">
              <%= f.label :_destroy, class: 'form-check-label' %>
              <%= f.check_box :_destroy, class: 'form-check-input' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Нет такого предмета</p>
  <% end %>

<% end %>


<script>

    $(document).on('click', '.add_fields', function(e) {
        e.preventDefault();

        var id = $(this).data('id');
        var fields = $(this).data('fields');
        var newId = new Date().getTime();
        var regex = new RegExp(id, 'g');

        fields = fields.replace(regex, newId);
        var newFields = $('<div>').html(fields).contents(); // Создаем новые элементы из HTML строки

        $('#mark-fields').after(newFields); // Перемещаем новые элементы после существующего span
    });



    $(document).ready(function () {
        $('#subject_id').change(function () {
            var selectedSubjectId = $(this).val();

            $('.item').each(function () {
                var itemSubjectId = $(this).data('subject-id');

                if (selectedSubjectId == itemSubjectId || $(this).data('type') == 'new') {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });

</script>
