<tr>
  <td><%= student.group_id %></td>
  <td><%= student.name %></td>
  <td>
    <% @marks.where(student_id: student.id).each do |mark| %>
      <%= mark.mark %>
    <% end %></td>
  <td><%= student.average_mark %></td>
  <td><%= link_to 'Show', student %></td>
  <td><%= link_to 'Edit', edit_student_path(student) %></td>
  <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
