<div class="container">
  <div class="row gx-5">
    <div class="col">
      <div class="container rounded-4 my-3 px-4 py-4" style="height: 180px; background: rgba(255, 255, 255, 0.48);">
        <div class="container d-flex">
          <%= image_tag "person.png", class: "rounded-circle ", style: "width: 100px; height: 100px;" %>
          <div class="container d-flex flex-column">
            <p class="mb-auto" style="font-size: 22px;"><%= @student.name %></p>
            <p class="mb-auto" style="font-size: 16px;">Группа: <%= @student.group.specialization_code %></p>
            <p class="mb-auto" style="font-size: 16px;">Кафедра: <%= @student.department.name %></p>
            <% if current_user.is_admin? %>
              <p>Токен: <%= @student.invitation_token.token %></p>
            <% end %>
          </div>
        </div>
      </div>
      <% if current_user.is_admin? || current_user.is_lecturer? %>
        <td><%= link_to 'Edit', edit_student_path(@student) %></td>
    <% end %>
    </div>

    <div class="col">
      <%= render 'users/time_table' %>
    </div>
  </div>
</div>
