<p>
  <strong>Group:</strong>
  <%= @students.group_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @students.name %>
</p>

<p>
  <strong>Average mark:</strong>
  <%= @students.average_mark %>
</p>

<%= link_to 'Edit', edit_student_path(@students)%> |
<%= link_to 'Back', '/journal' %>