<div class="divShow">
  <p>
    <strong>Group:</strong>
    <%= @student.group_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @student.name %>
  </p>

  <p>
    <strong>Average mark:</strong>
    <%= @student.average_mark %>
  </p>
  <%= link_to 'Edit', edit_student_path(@student), style: 'display: inline; padding-left: 45%'%> |
  <%= link_to 'Back', students_path %>
  <table class='table-sm table-hover tableFixHead' style="width:15%">
    <tbody>
    <thead>
    <tr>
      <th>Marks</th>
      <th>Subject</th>
      <th>Lecturer</th>
    </tr>
    </thead>
    <tbody>
      <% @student.marks.each do |mark| %>
      <tr>
        <td> <%= mark.mark %></td>
        <td> <%= mark.subject.name %></td>
        <td> <%= mark.lecturer&.name %></td>
      </tr>
      <% end %>

    </tbody>
  </table>
</div>
