<%= stylesheet_link_tag '_form', media: 'all', 'data-turbolinks-track': 'reload'  %>

<%= form_with(model: faculty) do |form| %>
  <% if faculty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(faculty.errors.count, "error") %> prohibited this faculty from being saved:</h2>

      <ul>
        <% faculty.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="editDiv">
  <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label 'Formation date' %>
    <%= form.date_select :formation_date %>

    <%= form.submit %>
  </div>
<% end %>
