<%= form_with(model: faculty) do |form| %>
  <%= render 'shared/errors', resource: faculty %>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label 'Formation date' %>
    <%= form.date_select :formation_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
