<p id="notice"><%= notice %></p>

<h1 class="centeredCol" >Faculties</h1>
<p style="padding-left: 15%"><%= link_to 'New Faculty', new_faculty_path %></p>

<table class="table table-hover tableFixHead" style="width: 70%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Formation Date</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @faculties.each do |faculty| %>
      <tr>
        <td><%= faculty.name %></td>
        <td><%= faculty.formation_date %></td>
        <td><%= link_to 'Show', faculty %></td>
        <td><%= link_to 'Departments',  faculty_departments_path(faculty) %></td>
        <td><%= link_to 'Edit', edit_faculty_path(faculty) %></td>
        <td><%= link_to 'Destroy', faculty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


