<p id="notice"><%= notice %></p>
<p>
  <strong>Название</strong>
  <%= @faculty.name %>
</p>
<p>
  <strong>Дата основания</strong>
  <%= @faculty.formation_date %>
</p>
<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Back', faculties_path %>
