<%= stylesheet_link_tag '_form', media: 'all', 'data-turbolinks-track': 'reload'  %>

<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(group.errors.count, "error") %> prohibited this Group from being saved:</h3>
      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="editDiv">
  <%= form.label :department_id %>
    <%= form.select :department_id , @departments.map{|faculty| [faculty.name, faculty.id]}, {}, class: "form-control"%>

    <%= form.label :specialization_code %>
    <%= form.text_field :specialization_code %>

    <%= form.label :course %>
    <%= form.text_field :course %>

    <%= form.label :form_of_education %>
    <%= form.select :form_of_education, Group::FORM_OF_EDUCATION %>

    <%= form.label :curator_id %>
    <%= form.select :curator_id, @curators.map { |curator|
      %W[#{curator.name} #{curator.id}]
    } %>

    <%= form.submit %>
  </div>


<% end %>
