<%= form_with(model: group) do |form| %>
  <%= render 'shared/errors', resource: group %>


  <div class="field">
    <%= form.label :department_id %>
    <%= form.select :department_id , @departments.map{|faculty| [faculty.name, faculty.id]}, {}, class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :specialization_code %>
    <%= form.text_field :specialization_code %>
  </div>

  <div class="field">
    <%= form.label :course %>
    <%= form.text_field :course %>
  </div>

  <div class="field">
    <%= form.label :form_of_education %>
    <%= form.select :form_of_education, Group::FORM_OF_EDUCATION %>
  </div>

  <div class="field">
    <%= form.label :curator_id %>
    <%= form.select :curator_id, @curators.map { |curator|
      %W[#{curator.name} #{curator.id}]
    } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>


<% end %>
