<div class="container rounded-3 col-md-2 col-4 mx-4 my-4 item" style="background: rgba(255, 255, 255, 0.48);">
  <%= link_to group, class:"link-dark link-underline-opacity-0" do %>
    <h3>Группа: <%= group.specialization_code %></h3>
    <p>Курс: <%= group.course %></p>
    <p>Куратор: <%= group.curator&.name %></p>
  <% end %>
  <% if current_user.is_admin? %>
    <div class="d-flex">
      <%= link_to 'Edit', edit_group_path(group) %> |
      <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Вы уверены?' } %>
    </div>
  <% end %>
</div>
