<div>
  <% if  !@groups.empty? %>
    <h1 class="centeredCol">Groups</h1>
    <p style="padding-left: 10%"><%= link_to 'Create', new_group_path %></p>

    <table class="table table-hover tableFixHead" style="width: 80%">
      <thead>
      <tr>
        <th>Department</th>
        <th class="centeredCol">Specialization code</th>
        <th>Course</th>
        <th>Form of education</th>
        <th>Curator</th>
        <th colspan="5"></th>
      </tr>
      </thead>
      <tbody>

      <% @groups.each do |group| %>
        <tr>
          <td><%= group.department.name %></td>
          <td class="centeredCol"><%= group.specialization_code %></td>
          <td><%= group.course %></td>
          <td><%= group.form_of_education.split('_').join(' ') %></td>
          <td><%= group.curator&.name %></td>


          <td><%= link_to 'Show', group %></td>
          <td><%= link_to 'Journal', students_path(:group_id => group.id)  %></td>
          <td><%= link_to 'Edit', edit_group_path(group) %></td>
          <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Lectures', group_lectures_path(group)%></td>
        </tr>
      <% end %>

      </tbody>
    </table>
  <% else %>
    <p>There is no such group or in group 0 students</p>
  <% end %>


</div>