<div class="container">
  <div class="row gx-5">
    <div class="col">
      <div class="container rounded-4 my-3 px-4 py-4" style="background: rgba(255, 255, 255, 0.48);">
        <h2>Группа <%= @group.specialization_code %></h2>
        <p>Кафедра: <%= @group.department.name %> | Курс <%= @group.course %> </p>
      </div>

      <div class="container rounded-4 my-3 px-4 py-4" style="height: 225px; background: rgba(255, 255, 255, 0.48);">
        <div class="container"><p style="font-size: 32px;">Куратор</p></div>
        <div class="container d-flex">
          <%= image_tag "person.png", class: "rounded-circle ", style: "width: 100px; height: 100px;" %>
          <div class="container d-flex flex-column">
            <p class="mb-auto" style="font-size: 22px;"><%= @curator.name %></p>
            <p class="mb-auto" style="font-size: 16px;">Кафедра: <%= @curator.department.name %></p>
            <p class="mb-auto" style="font-size: 16px;">Степень: <%= @curator.academic_degree %></p>
          </div>
        </div>
      </div>
      <%= render "users/time_table" %>
    </div>

    <div class="col">
      <div class="container rounded-4 my-3 px-4 py-4 align-center " style="background: rgba(255, 255, 255, 0.32);">
        <h2>Учащиеся</h2>
        <div class="d-flex flex-wrap ">
          <% @students.each_with_index do |student, i| %>
            <div class="container col-sm-5 col-12 d-flex mx-auto my-1" style="background: rgba(255, 255, 255, 0.32); height: 74px;">
              <h4 class="my-auto"><%= i+1 %></h4>
              <%= image_tag "person.png", class: 'rounded-circle mx-2 my-auto', style: "width: 50px; height: 50px;" %>
              <p class="my-auto"><%= student.name %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
