<p>
  <strong>Department:</strong>
  <%= @group.department.name %>
</p>

<p>
  <strong>Specialization code:</strong>
  <%= @group.specialization_code %>
</p>

<p>
  <strong>Course:</strong>
  <%= @group.course %>
</p>

<p>
  <strong>Form of education:</strong>
  <%= @group.form_of_education.split('_').join(' ') %>
</p>

<p>
  <strong>Curator:</strong>
  <%= @group.curator&.name %>
</p>
<% if @students %>
<table>
  <thead>
  <tr>
    <th>Group</th>
    <th>Name</th>
    <th>Marks</th>
    <th>Average</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <%= render @students %>
  </tbody>
</table>
<% end %>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
