<div class="divShow">
  <p>
    <strong>Department:</strong>
    <%= @group.department.name %>
  </p>

  <p>
    <strong>Specialization code:</strong>
    <%= @group.specialization_code %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= @group.course %>
  </p>

  <p>
    <strong>Form of education:</strong>
    <%= @group.form_of_education.split('_').join(' ') %>
  </p>

  <p>
    <strong>Curator:</strong>
    <%= @group.curator&.name %>
  </p>

  <%= link_to 'Edit', edit_group_path(@group), class: 'aShow'%> |
  <%= link_to 'Back', groups_path %>
</div>