<div class="container">
  <div class="row gx-5">
    <div class="col">

      <!--   lecturer profile start   -->
      <div class="container rounded-4 my-3 px-4 py-4" style="height: 225px; background: rgba(255, 255, 255, 0.48);">
        <div class="container"><p style="font-size: 32px;">Профиль</p></div>
        <div class="container d-flex">
          <%= image_tag "person.png", class: "rounded-circle ", style: "width: 100px; height: 100px;" %>
          <div class="container d-flex flex-column">
            <p class="mb-auto" style="font-size: 22px;"><%= @lecturer.name %></p>
            <p class="mb-auto" style="font-size: 16px;">Кафедра: <%= @lecturer.department&.name %></p>
            <p class="mb-auto" style="font-size: 16px;">Степень: <%= @lecturer.academic_degree %></p>
          </div>
        </div>
      </div>
      <!--   lecturer profile end   -->


      <!--   curator profile start   -->
      <% if @lecturer.is_curator? %>
      <div class="container rounded-4 my-3 px-4 py-4" style="height: 225px; background: rgba(255, 255, 255, 0.48);">
        <div class="container"><p style="font-size: 32px;">Куратор группы <%= @lecturer.curatorial_group&.specialization_code %></p></div>
        <div class="container d-flex">
          <%= image_tag "person.png", class: "rounded-circle ", style: "width: 100px; height: 100px;" %>
          <div class="container d-flex flex-column">
            <p class="mb-auto" style="font-size: 16px;">Кафедра: <%= @lecturer.curatorial_group&.department&.name %></p>
            <p class="mb-auto" style="font-size: 16px;">Курс: <%= @lecturer.curatorial_group&.course %></p>
          </div>
        </div>
      </div>
      <% end %>
      <!--   curator profile end   -->

      <!--   timetable start   -->
      <%= render "users/time_table" %>
      <!--   timetable end   -->
    </div>

    <div class="col">
      <!--   marks start   -->
      <div class="container rounded-4 my-3" style="background: rgba(255, 255, 255, 0.32);">
        <div class="container d-flex flex-wrap">
          <p style="font-size: 36px;">Оценки</p>
          <%= select_month(@month, { name: 'month', id: 'month_id' }, class: 'your_class') %>
          <%= select_tag :subject_id, options_from_collection_for_select(@subjects, :id, :name, params[:subject_id]), class: 'your_class' %>
          <%= select_tag :group_id, options_from_collection_for_select(Group.all, :id, :specialization_code, @group.id || params[:group_id]), class: 'your_class' %>
        </div>


        <div class="table-responsive table-container" style="height: 750px;">
          <table class="timetable timetable-rounded-overflow">
            <thead class="sticky-top">
            <tr>
              <th scope="col" class="sticky-cell">Студент</th>
              <% @dates.each do |date| %>
                <th scope="col" id="<%= date.strftime('%d-%m') %>"><%= date.strftime('%d.%m') %></th>
              <% end %>
              <th scope="col">Средняя</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <% @marks.each do |k,v| %>
                <th scope="row" class="sticky-cell"><%= k.name %></th>
                <% @dates.each do |date| %>
                  <td class="text-center">
                    <% marks = v[date] %>
                    <%= marks ? marks.mark : '' %>
                  </td>
                <% end %>
                <td><%= k.average_mark(@subject.name) %></td>
                </tr>
              <% end %>
              </tbody>
          </table>
        </div>



      </div>
      <!--   marks end   -->
    </div>
  </div>

</div>


<script>
    function updateUrlParameter(param, value) {
        var url = new URL(window.location.href);
        url.searchParams.set(param, value);
        window.location.href = url.href;
    }

    $('#date_month').change(function () {
        var monthId = $(this).val();

        if (monthId) {
            updateUrlParameter('month_id', monthId);
        } else {
            window.location.href = '/profile';
        }
    });

    $('#group_id').change(function () {
        var groupId = $(this).val();

        if (groupId) {
            updateUrlParameter('group_id', groupId);
        } else {
            window.location.href = '/profile';
        }
    });

    $('#subject_id').change(function () {
        var subjectId = $(this).val();

        if (subjectId) {
            updateUrlParameter('subject_id', subjectId);
        } else {
            window.location.href = '/profile';
        }
    });
</script>
