<header class="navbar bg-light">
  <div class="container-fluid">
    <h2><%= link_to 'Университет', root_path, class: 'navbar-brand' %></h2>
    <span class="navbar-text">
      <% if user_signed_in? %>
        Добро пожаловать, <b><%= link_to current_user.owner.name, profile_path %></b> |
        <%= link_to 'Выход', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Вход', new_user_session_path %> |
        <%= link_to 'Регистрация', new_user_registration_path %>
      <% end %>
    </span>
  </div>
</header>
