<%= stylesheet_link_tag '_form', media: 'all', 'data-turbolinks-track': 'reload'  %>

<%= form_with(model: [@faculty,@department]) do |form| %>
  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
        <% @department.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="editDiv">

  <%= form.label :name%>
  <%= form.text_field :name, class: "editSelectText" %>

  <%= form.label :name %>
  <%= form.select :department_type, Department::DEPARTMENT_TYPE, {class:"editSelect"}%>

  <%= form.label 'Formation date' %>
  <%= form.date_select :formation_date, class:"editSelectText" %>

  <%= form.submit %>
</div>
<% end %>
