<%= form_with(model: [@faculty,@department]) do |form| %>
  <%= render 'shared/errors', resource: @department %>

  <div class="field">
  <%= form.label :name %>
  <%= form.text_field :name%>
  </div>

  <div class="field">
  <%= form.label :name %>
  <%= form.select :department_type, Department::DEPARTMENT_TYPE%>
  </div>

  <div class="field">
    <%= form.label 'Formation date' %>
    <%= form.date_select :formation_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
