<p id="notice"><%= notice %></p>
<div class="divShow">
  <p>
    <strong>Name</strong>
    <%= @department.name %>
  </p>

  <p>
    <strong>Department type </strong>
    <%= @department.department_type %>
  </p>

  <p>
    <strong>Formation Date</strong>
    <%= @department.formation_date %>
  </p>
  <%= link_to 'Edit', edit_faculty_department_path(@department), class: 'aShow'%> |
  <%= link_to 'Back', faculty_departments_path %>
</div>