<%= form_with(model: subject) do |form| %>
  <%= render 'shared/errors', resource: subject %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>

  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
