<%= form_for @lecturers_subject do |form| %>
  <% if @lecturers_subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lecturers_subject.errors.count, "error") %> prohibited this data from being saved:</h2>

      <ul>
        <% @lecturers_subject.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= form.label :lecturer %>
      <%= form.select :lecturer_id, @lecturer.map {|key|[key.name, key.id]} %>
      <%= form.label :subject %>
      <%= form.select :subject_id, @subject.map{|key|[key.name, key.id]} %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

