<%= form_for @lecturers_subject do |form| %>
  <%= render 'shared/errors', resource: @lecturers_subject %>


    <div class="field">
      <%= form.label :lecturer %>
      <%= form.select :lecturer_id, @lecturer.map {|key|[key.name, key.id]} %>
      <%= form.label :subject %>
      <%= form.select :subject_id, @subject.map{|key|[key.name, key.id]} %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
