<%= stylesheet_link_tag '_form', media: 'all', 'data-turbolinks-track': 'reload'  %>

<%= form_with(model: lecturer) do |form| %>
  <% if lecturer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecturer.errors.count, "error") %> prohibited this lecturer from being saved:</h2>

      <ul>
        <% lecturer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="editDiv">
  <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :department %>
    <%= form.select :department_id, @departments.map { |value| [value.name, value.id] } %>

    <%= form.label :academic_degree %>
    <%= form.select :academic_degree, [1,2,3,4,5,''] %>

    <%= form.submit %>
  </div>
<% end %>