<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lecturer.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @lecturer.department.name %>
</p>

<p>
  <strong>Academic Degree:</strong>
  <%= @lecturer.academic_degree %>
</p>

<%= link_to 'Edit', edit_lecturer_path(@lecturer) %> |
<%= link_to 'Back', lecturers_path %>
