<div class="container">
  <div class="row gx-5">
    <div class="col">
      <div class="container rounded-4 my-3 px-4 py-4" style="height: 225px; background: rgba(255, 255, 255, 0.48);">
        <div class="container"><p style="font-size: 32px;">Преподаватель</p></div>
        <div class="container d-flex">
          <%= image_tag "person.png", class: "rounded-circle ", style: "width: 100px; height: 100px;" %>
          <div class="container d-flex flex-column">
            <p class="mb-auto" style="font-size: 22px;"><%= @lecturer.name %></p>
            <p class="mb-auto" style="font-size: 16px;">Кафедра: <%= @lecturer.department&.name %></p>
            <p class="mb-auto" style="font-size: 16px;">Степень: <%= @lecturer.academic_degree %></p>
            <% if current_user.is_admin? %>
              <p>Токен: <%= @lecturer.invitation_token&.token %></p>
            <% end %>
          </div>
        </div>
      </div>
      <% if @lecturer.curatorial_group %>
        <div class="container rounded-4 my-3 px-4 py-4" style="height: 180px; background: rgba(255, 255, 255, 0.48);">
          <h3>Куратор группы: <%= @lecturer.curatorial_group&.specialization_code %></h3>
          <p>Кафедра: <%= @lecturer.curatorial_group.department&.name %></p>
          <p>Курс: <%= @lecturer.curatorial_group.course %></p>
        </div>
      <% end %>
    </div>

    <div class="col">
      <%= render 'users/time_table' %>
    </div>
  </div>
</div>
